<div class="page-root">
    <h1>Hey, little butterfly !</h1>
    <i>Welcome to <b>{{= name }}</b></i>
    <p>You're ready to code. It includes :</p>
    <ul>
        <li>Gulp</li>
        <li>Backbone.js</li>
        <li>Lodash.js</li>
        <li>jQuery.js</li>
        <li>Moment.js</li>
        <li>Normalize.css</li>
        <li><code>*, *::before, *::after {-moz-box-sizing: border-box; box-sizing: border-box}</code></li>
    </ul>

    <p>Open a terminal and run <code>gulp</code>.</p>

    <blockquote>
      <i>It uses a custom lodash templating cf : <a href="https://gist.github.com/dhoko/9072205">Lodash custom template tags</a></i>
      <br>
      You can of course remove these templateSettings, it's located inside <code>./src/js/bootstrap.js</code>.
    </blockquote>

</div>
